/*Reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --backgroundColor: #1e2337;
}
html {
  font-size: 62.5%; /*1 rem = 10px; Par défaut 100% 1 rem = 16px*/
}
body {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  height: 100vh;
  background-color: var(--backgroundColor);
}
/***********projet baniere **********************/
.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  opacity: 1;
  transition: 0.5s;
}
.cookies-btn {
  display: flex;
}
.btn {
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}
.btn-success {
  background-color: #1e2337;
}
.btn-param {
  background-color: hsl(0, 0%, 30%);
}
/* proejt you tube */
.bloc-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.abo {
  padding: 1rem;
  background-color: #b5b5b5;
  border: none;
  color: var(--backgroundColor);
  transition: 0.5s;
  min-width: 150px;
}
.colorAbo {
  background-color: red;
}
/* projet Social */
.social {
  position: fixed;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 15px;
  border: solid 2px white;
  border-radius: 10px;
  padding: 15px;
}
.social a {
  cursor: pointer;
  color: white;
}
.modal {
  display: flex;
  border: solid 1px white;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
  width: 500px;
  height: 300px;
  background-color: var(--backgroundColor);
  opacity: 0;
  position: absolute;
  z-index: 25;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.modal a {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 30%);
}
/*projet menu burger */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}
/*menu desktop*/
.navbar-desktop {
  height: 8rem;
  line-height: 8rem;
  text-align: center;
}
/*menu mobile*/
.navbar-mobile {
  display: none;
}
.navbar-mobile .icone {
  position: fixed;
  top: 9px;
  right: 15px;
  font-size: 3rem;
  color: white;
  z-index: 9999;
  cursor: pointer;
}
.modalMenu {
  background-color: #f92995;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  opacity: 0.9;
  transition: top 0.9s;
  
}
.navbar-mobile-list {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-mobile .navbar-mobile-list a {
  font-size: 5rem;
  font-weight: 800;
  color: #1e2337;
  padding: 2rem;
}
.displayMenuMobile {
  top: 0;
}
@media screen and (max-width: 700px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
}
