/*Reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --backgroundColor: #1e2337;
}
html {
  font-size: 62.5%; /*1 rem = 10px; Par défaut 100% 1 rem = 16px*/
}
body {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  height: 100vh;
  background-color: var(--backgroundColor);
}
/***********projet baniere **********************/
.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  opacity: 1;
  transition: 0.5s;
}
.cookies-btn {
  display: flex;
}
.btn {
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}
.btn-success {
  background-color: #1e2337;
}
.btn-param {
  background-color: hsl(0, 0%, 30%);
}
/* proejt you tube */
.bloc-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.abo {
  padding: 1rem;
  background-color: #b5b5b5;
  border: none;
  color: var(--backgroundColor);
  transition: 0.5s;
  min-width: 150px;
}
.colorAbo {
  background-color: red;
}
